<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agendamentos - Salão de Beleza</title>
</head>
<body>
<h1>Lista de Agendamentos</h1>
<table>
    <thead>
    <tr>
        <th>Cliente</th>
        <th>Serviço</th>
        <th>Data e Hora</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="agendamento : ${agendamentos}">
        <td th:text="${agendamento.nomeCliente}"></td>
        <td th:text="${agendamento.servico}"></td>
        <td th:text="${agendamento.dataHoraAgendamento}"></td>
    </tr>
    </tbody>
</table>
<br/>
<a href="/agendamentos/novo">Novo Agendamento</a>
</body>
</html>
